<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form method="POST" th:action="@{/users}" th:object="${newUser}" >

    <label for="name">User name: </label>
    <input type="text" id="name" th:field="*{name}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <br/>
    <br/>


    <label for="login">Login: </label>
    <input type="text" id="login" th:field="*{login}"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>
    <br/>
    <br/>
    <br/>

    <label for="password">Password: </label>
    <input type="text" id="password" th:field="*{password}"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <br/>
    <br/>

    <label for="email">Email: </label>
    <input type="text" id="email" th:field="*{email}"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <br/>
    <br/>

    <label for="dateOfBirth">Date of birth:</label>
    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">

    <br/>

    <input type="submit" value="Create"/>

</form>

</body>
</html>